<div class="art-parents">
  <h3>＜最新の投稿＞</h3>
  <div>
    <% @articles.each do |article| %>
      <div class="art-main">
        <div class="post-day">投稿日:<%= l article.created_at %></div>
        <%= link_to article_path(article.id) do %>
          <%= image_tag article.image.variant(resize: '800x1500') %>
        <% end %>
        <div class="edit-user">最終更新:<strong><%= article.user.name %></strong></div>
        <%= article.title %>
      </div>
    <% end %>
  </div>
</div>