<div class="post-parents">
  <div>
    <h3>＜投稿する＞</h3>
    <%= form_with model: @article, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="post-column">
        <%= f.file_field :image, id: "post-image" %>
        <%= f.text_field :title, placeholder: "Title", id: "post-title" %>
        <%= f.text_area :content, placeholder: "Content", id: "post-text" %>
        <%= f.submit "投稿する", id: "post-btn" %>
      </div>
      <input name="article[user_ids][]" type="hidden" value=<%= current_user.id %>>
    <% end %>
  </div>
</div>