<div class="">
  <div class="">
    <div class=""><%= image_tag @article.image %>
      <% if user_signed_in? && current_user.admin? %>
        <div class="">
          <span><%= image_tag 'arrow_top.png' %></span>
          <ul class="">
            <li>
              <%= link_to '編集', edit_article_path(@article.id) %>
            </li>
            <li>
              <%= link_to '削除', article_path(@article.id), method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
      <span class=""><%= @article.user.name %></span>
    </div>
    <p><%= @article.title %></p>
    <div class=""><%= @article.content %></div>
  </div>
  <%# コメント %>
  <div class="">
    <% if user_signed_in? && !current_user.admin %>
      <%= render partial: "form", locals: { article: @article, comment: @comment, value: 'SEND'} %>
    <% elsif !user_signed_in? %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div>
      <h4>＜コメント一覧＞</h4>
      <div id="comments">
        <% @comments.each do |comment| %>
          <div id="comment-<%= comment.id %>">
            <strong><%= comment.user.name %>：</strong>
            <span id="text-<%= comment.id %>"><%= comment.text %></span>
            <div>
              <% if current_user == comment.user %> 
                <%= link_to '編集', edit_article_comment_path(@article, comment), remote: true %>
                <%= link_to '削除', article_comment_path(@article, comment), method: :delete, remote: true %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>