<!DOCTYPE html>
<html>
  <head>
    <title>ArticleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1 class="app-title"><a href="/">ArticleApp</a></h1>
        <div class="heading-right">
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% if current_user.admin? %>
              <%= link_to "投稿する", new_article_path, class: "" %>
            <% end %>
            <div class="now-user">
              <strong>ようこそ <%= current_user.name %> さん</strong>
            </div>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "" %>
            <%= link_to "新規登録", new_user_registration_path, class: "" %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright ArticleApp 2021.
      </p>
    </footer>
  </body>
</html>
